<table id="table-minimo-exigido" class="table table-condensed table-hover">
	<tr>
		<td></td>
		<th class="col-lg-4">Mínimo Exigido</th>
	</tr>
	<tr>
		<th class="text-right valign">Margen</th>
		<td>
			<div class="input-group">
				<span class="input-group-addon">$</span>
				<input 
				type="text" class="form-control" 
				id="input-margen" 
				name="input-margen" 
				placeholder="Margen"
				value="{{ (arrMargenes|first).Margen | number_format(0, '.', '.') }}">
			</div>
		</td>
	</tr>
	<tr>
		<th class="text-right valign">Margen / Costo</th>
		<td>
			<div class="input-group">
				<input 
				type="text" class="form-control" 
				id="input-margen-costos" 
				name="input-margen-costos" 
				placeholder="Margen / Costo"
				value="{{ (arrMargenes|first).Costo }}">
				<span class="input-group-addon">%</span>
			</div>
		</td>
	</tr>
</table>